body {
    background-color: rgb(10, 10, 10);
}

.taskbox {
    background-image: url('https://images.unsplash.com/photo-1578581100370-a7dd362d1348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 35%;
    /* box-shadow: 0 3000px rgba(0, 0, 0, 0.3) inset; */
}

.taskbox h2 {
    color: white;
    text-shadow: 1px 1px 1px grey;
}

.hooki {
    color: #ffcd3c;
    margin: 8px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
}

.hooki:hover {
    cursor: pointer;
    color: black;
}

.inliner {
    display: inline-block;
}

.taskp {
    font-weight: 2rem;
}

footer {
    color: grey;
}



.navbar {
    background-color: transparent;
}

.navbar a {
    color: orangered;
}


.task-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    margin: 0 auto 5px auto;
    padding: 8px;
    border-radius: 10px;
}

.task-input-container {
    display: inline;
}

.task-input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    width: 75%;
}

.task-buttons {
    display: inline;
}

.task-button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

.task-button-checkbox {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid gainsboro;
    margin-right: 15px;
    border-radius: 50%;
    color: transparent;
}

.task-button-checkbox:hover {
    cursor: pointer;
}


@media screen and (max-width:900px) {

    .taskbox {
        width: 90%;
    }

    .task-input-container {
        margin: 0;
    }

    #hit-enter {
        display: none;
    }

    .task-button-checkbox {
        margin-right: 0px;
    }

    .task-input {
        width: 70%;
    }

}